<body>
    <div>
    <table>
        <tr>
            <td>Id</td>
            <td>>Theme</td>
            <td>Description</td>
        </tr>
        @foreach (var value in Model)
        {
            <tr>
              <td>@value.Id</td>
              <td>@value.Theme</td>
              <td>@value.Description</td>
            </tr>
        }
    </table>
    </div>
</body>
