<form method="post" action="">
    <input type="hidden" value="@ViewBag.Id" name="Id"/>
    <table>
        <tr>
            <td><p>Enter Id</p></td>
            <td><input type="text" name="Id"/></td>
        </tr>
        <tr>
            <td><p>Enter OrderId: </p></td>
            <td><input type="text" name="OrderId"/></td>
        </tr>
        <tr>
            <td><p>Enter ArtistId: </p></td>
            <td><input type="text" name="ArtistId"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add Order"/></td>
        </tr>
    </table>
</form>
