<form method="post" action="">
    <input type="hidden" value="@ViewBag.Id" name="Id"/>
    <table>
        <tr>
            <td><p>Enter Id</p></td>
            <td><input type="text" name="Id"/></td>
        </tr>
        <tr>
            <td><p>Enter Name: </p></td>
            <td><input type="text" name="Name"/></td>
        </tr>
        <tr>
            <td><p>Enter LastName: </p></td>
            <td><input type="text" name="LastName"/></td>
        </tr>
        <tr>
            <td><p>Enter Experience: </p></td>
            <td><input type="text" name="Experience"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add Artist"/></td>
        </tr>
    </table>
</form>
